<header>
  <div class="container main">
    <img src="./assets/img/logo-color.png" alt="logo SCCON" style="margin-top: 25px">
    <div class="menu">
      <button mat-button (click)="setPage('')">Home</button>
      <button mat-button [matMenuTriggerFor]="menu">Clientes</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setPage('listagem')">Buscar Clientes</button>
        <button mat-menu-item (click)="setPage('cadastro')">Cadastrar</button>
      </mat-menu>  
    </div>
  </div>
</header>