<h2 class="mat-display-1">Ficha do Cliente</h2>

<h2 class="mat-h2"><strong>Nome: </strong> {{client.nome}} </h2>
<h2 class="mat-h2"><strong>Email: </strong> {{client.email}} </h2>
<h2 class="mat-h2"><strong>telefone: </strong> {{client.telefone}} </h2>
<h2 class="mat-h2"><strong>Endereço: </strong> {{endereco}} </h2>
<h2 class="mat-h2"><strong>Status: </strong> {{client.status ? 'Ativo' : 'Inativo'}} </h2>
<h2 class="mat-h2"><strong>Data de cadastro:</strong> {{ client.dataDeCadastro | date: 'dd/MM/yyyy'}} </h2>

<button mat-button class="btnCadt" (click)="setPage('cadastro')">Editar</button>


