input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.title{
    margin: 20px 0 20px 0;
}

.form-container{
    margin: 30px 0 0 0;
    width: 100%;

    .ipt{
        margin-right: 15px;
        width: 30%;
    }

    .cepContn{
        
        margin-top: 25px;

        .lblCep{
            font-size: 17px;
            margin-left: 15px;
        
        }
    }
}


button{
    border-radius: 10px;
}